<div class="container-fluid">

    <div class="row">
        <div class="col-md-8 col-sm-12 mainHome">
            <div
                class="row d-flex align-items-center  justify-content-center  ">
                <div class="col-md-6  col-sm-12">
                    <div class="nav">
                        <h5 class="mt-2 mb-5">
                            Peachy Pup
                            <br> Bakery
                        </h5>
                    </div>
                    <div class="header mt-5 ">
                        <h3 class="mb-4 mt-5">
                            Tasty pastries
                        </h3>
                        <p class="mb-4">Lorem Ipsum is simply dummy text of the
                            printing and typesetting industry. Lorem Ipsum has
                            been the industry's standard dummy text ever since
                            the</p>
                        <button class="btn contact mb-5">
                            <a  href="#work">see more</a> </button>
                    </div>
                </div>
            </div>

            <div class="row  mt-4 ">

                <div class="col-md-4 icons ">
                   
                        <ul class=" mt-3">
                            <li>
                                <i class="fa-brands fa-vk mb-2"></i>
                            </li>
                            <li>
                                <i
                                    class="fa-brands fa-square-facebook mb-2"></i>

                            </li>
                            <li><i class="fa-brands fa-instagram mb-2"></i></li>
                            <li>
                                <i class="fa-brands fa-twitter mb-2"></i>
                            </li></ul>
                   

                </div>
                <div class="col-md-8 text">
                    <p>Telephone: +7 700 000 00 00</p>
                </div>
            </div>
        </div>
  


        <div class="col-md-4 col-sm-12 homeData  ">

            <div class="  p-3 info ">
               
                <img src="../../../assets/images/bread.png">
            
            </div>
        
        </div>
    </div>
</div>

