<div class="container" >
    <div class="row ">
        <div class="col-md-12 col-sm-12">
            <div class="header ">
                <h4 class="mb-3 mt-4">
                    Recipes 
                </h4>
            </div>
           
        </div>

    </div>

    <div class="row d-flex align-items-center justify-content-center ">
        <div class="col-md-4" *ngFor="let item of receipes">
            <div class="card mb-5">
               
                    <img src={{item.strMealThumb}} class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">{{item.strMeal}}</h5>
                      <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled</p>
                    </div>
             
              </div>
        </div>
    </div>

    <div class="row " >
        <div class="col-md-4  m-auto  d-flex align-items-center justify-content-center">
         
                <button class="btn contact mb-5 ">
                    <a href="#contact" >contact us</a> </button></div>
       
    </div>
    </div>
